body {
  font-family: arial,sans-serif;
  color: #222;
  font-size: small;
}
.Main{
  text-align: center;
  padding-bottom: 35px;
}
.logo{
  height: 233px;
  margin-top: 89px;
  display: inline-block;
}
img#googlelogo {
  height: 91px;
  width: 272px;
  padding-top: 109px;
}
.search {
  display: flex;
  justify-content: center;
}
#input_field {
  border: 0.5px solid #e6e6e6;
  border-radius: 18px;
  padding: 10px;
  margin: 10px;
  width: 470px;
  text-indent: 35px;
  background: url(search-24px.svg) no-repeat 10px center;
}
#input_field:hover {
  box-shadow: darkgray 1px 1px 3px;
}
button {
  border: 0.5px solid #e6e6e6;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background: rgb(224, 224, 224);
  width: 120px;
}
button:hover {
  border: 0.5px solid black;
  background: rgb(243, 243, 243);
}
button a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}
ul.upper {
  list-style-type: none;
  height: 36px;
  padding-left: 40px;
  margin-top: 14px;
  margin-bottom: 14px;
}
li {
  display: inline;
  padding-right: 10px;

}
#left-menu {
  position: absolute;
  top: 12px;
  left: -15px;
}
#right-menu {
  position: absolute;
  right: 10px;
  top: 0px;
}
#left-menu li {
  height: 30px;
}
li a {
  text-decoration: none;
  padding-right: 5px;
  color: #222;
}
li a:hover {
  text-decoration: underline;
}
button#sign_in {
  width: 80px;
  background: rgb(37, 130, 236);
  margin: 0;
  padding: 0;
  height: 30px;
  border-radius: 3px;
}
button#sign_in:hover {
  border: 0.5px solid #e6e6e6;
}
#sign_in a{
  font-weight: bold;
  color: white;
}
li img {
  position: relative;
  top: 8px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 101%;
  height: 40px;
  border-top: 1px solid #e4e4e4;
  background: rgb(244, 244, 244);
  left: -1px;
}
ul.lower{
  color: rgb(100, 100, 100);
}
#left-bottom-menu {
  position: absolute;
  left: -15px;
  bottom: 1px;
}
#right-bottom-menu {
  position: absolute;
  right: 20px;
  bottom: 1px;
}
